<h3>Welcome to FinanceAndPython.com, please refer to the website for the full tutorial. Presented here is the source code.<h3>

In [1]:
l = [1,2]
print(l)
#A list is a way of holding multiple elements together
#In this case we have a list holding two integers 1 and 2

[1, 2]

In [2]:
print(l[0])
#Indexing with lists is the same as strings
#Here we get the first element

1

In [3]:
print(l[1])
#And the second

2

In [4]:
#But asking for the third will give us an error because the list only has two elements
print(l[2])

IndexError: list index out of range

In [5]:
print(len(l))
#len() returns to us the number of elements

2

In [6]:
#Append adds a value on to the end of a list
l.append(5)
print(l)

[1, 2, 5]

In [7]:
l.append('t')
print(l)
#It does not matter what the type is that we are adding

[1, 2, 5, 't']

In [8]:
#But appending two things at once is not allowed
l.append(5,9)

TypeError: append() takes exactly one argument (2 given)

In [9]:
#And appending a list is allowed, but might not be what you want
#Doing this will add one new element, a list, to the end
#Hence making a list within a list
l.append([5,9])
print(l)

[1, 2, 5, 't', [5, 9]]

In [10]:
#If we were to print that element we would get back a list
print(l[4])

[5, 9]

In [11]:
#For nested lists you are also able to index again to get an element within the indexed element
print(l[4][0])

5

In [12]:
#Extend is the proper way to add elements in a list on to the end of another list
l = [1,2]
l.extend([5,9])
print(l)

[1, 2, 5, 9]

In [13]:
a = 1
print(a)
a += 1
print(a)
#Recall how we can add to a variable with the += operator

1
2

In [14]:
l = [1,2]
l+=[5,9]
print(l)
#The same applies to lists

[1, 2, 5, 9]

In [15]:
l = [1,2]
l.append(3)
l.extend([4,5])
print(l)

[1, 2, 3, 4, 5]

In [16]:
l = [1,2,4,5]
print(l)
l.insert(2,3)
print(l)
#Given an index and an element to insert, the insert function of a list inserts an element
#Here we insert the element 3 into the 2nd index/3rd position of our list

[1, 2, 4, 5]
[1, 2, 3, 4, 5]

In [17]:
l[2] = 100
print(l)
#You can also overwrite a value in a list by indexing by it and setting a value

[1, 2, 100, 4, 5]

In [18]:
l.remove(100)
print(l)
#Remove is a way to get rid of a certain value from your list, here we remove the value 100 from the list

[1, 2, 4, 5]

In [19]:
a = l.pop()
print(a)
print(l)
#Pop removes the last variable from a list and returns it so that you can set a variable equal to it
#Here we take 5 from the list and assign its value to a

5
[1, 2, 4]

In [20]:
print(l[-1])
#A negative index will return the last element for -1, second to last for -2 and so on

4

In [21]:
a = l.pop(1)
print(a)
print(l)
#If we say pop with a number then we pop but at that specific index

2
[1, 4]

In [22]:
l.clear()
print(l)
#Clear gets rid of all elements in a list

[]

In [23]:
l  = ['a','b','c']
print(l.index('c'))
#Index will return the index of the first variable found

2

In [24]:
l = [1,2,3,100,2,3]
#Example: Find the index of 100, then use that to set a variable a equal to it by using pop
index = l.index(100)
a = l.pop(index)
print(l)
print(a)

[1, 2, 3, 2, 3]
100

In [25]:
l = ['a','a','b']
print(l.count('a'))
print(l.count('b'))
print(l.count('c'))
#Count gives us the count of variables

2
1
0

In [26]:
l = [3,5,2,1,4]
print(l)
l.sort()
print(l)
#Sort will sort an array in place

[3, 5, 2, 1, 4]
[1, 2, 3, 4, 5]

In [27]:
#Example: Use sort to find the max value
l = [3,5,2,1,4]
l.sort()
print(l[-1])

5

In [28]:
#Python also has max() to do this for you easily
print(max(l))

5

In [29]:
l.sort(reverse=True)
print(l)
#The parameter reverse=True will give us the list with the highest numbers first

[5, 4, 3, 2, 1]

In [30]:
l = ['a','b','c',1,2,3]
print(l)
l.reverse()
print(l)
#Reverse() does exactly that

['a', 'b', 'c', 1, 2, 3]
[3, 2, 1, 'c', 'b', 'a']

In [31]:
l = [1,2,3,4]
print(l*2)
#If you multiply a list by an integer it will repeat that list that many times

[1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
l = [1,2,3,4]
print(l)
l = [x*2 for x in l]
print(l)
#List comprehension let's us define a function to apply to all elements in a list
#The format is [f(x) for x in l] where x is the variable name that we give for each element and l is the list we want 
#to use. f(x) is the function we create, so f(y) for y in l is also a valid operation or f(num) for num in l

[1, 2, 3, 4]
[2, 4, 6, 8]

In [33]:
print(4%3)
print(7%4)
#The modulo operator returns the remainder of the left number divided by the right number

1
3

In [34]:
#Example: Getting the remainder of all numbers in a list divided by 3
l = [1,2,3,4,5,6,7,8]
print([y%3 for y in l])

[1, 2, 0, 1, 2, 0, 1, 2]

In [35]:
l = [1,2,3,4]
print(l)
l = [x*2 for x in l if x%2==1]
print(l)
#You can also use an if statement to filter your data
#Here we say only include values that have a remainder of 1 when divided by 2, meaning they are odd

[1, 2, 3, 4]
[2, 6]

In [36]:
l1 = [1,2,3,4,5]
l2 = [10,100,1000,100,10]
print([x*y for x,y in zip(l1,l2)])
#Zip is the way to go through two lists together
#The syntax is f(a,b) for a,b in zip(l1,l2) or f(a,b,c) for a,b,c in zip(l1,l2,l3) and so on for more lists

[10, 200, 3000, 400, 50]

In [37]:
l = [[1,2],[3,4]]
print(l)
#Many times we use a nested list to represent things

[[1, 2], [3, 4]]

In [38]:
print(l[0])
#The first index returns the first list

[1, 2]

In [39]:
print(l[0][0])
#This returns the first element of the first list element

1

In [40]:
print(l[1][1])
#This returns the second element of the second list element

4

In [41]:
l = list(range(1,11))
print(l)
y = [x**2 for x in l]
print(y)
#Range gives us a range(a,b) of integer values from a to b but not including b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [42]:
t = (1,1)
print(t)
#A tuple is similar to a list but has less flexibility

(1, 1)

In [43]:
#You can't set a value on a tuple, so it can be good if you don't want to accidently change your data later
t = (1,1)
t[1] = 0

TypeError: 'tuple' object does not support item assignment

In [44]:
t.count(1)

2

In [45]:
t.index(1)

0

In [46]:
t[0]

1

In [47]:
s = {1,2,3}
#A set gives us unique values

In [48]:
l = [1,1,1,2,2,3]
s = set(l)
print(s)
#So here we see that the set is only 1, 2, 3 because those are the unique values

{1, 2, 3}

In [49]:
s1 = {1,2}
s2 = {2,3}
print(s1.union(s2))
#Union joins the unique elements together

{1, 2, 3}

In [50]:
print(s1.intersection(s2))
#Intersection finds where they overlap

{2}

In [51]:
print(s1.isdisjoint(s2))
#They have an overlapping element so they are not disjoint
s1.remove(2)
print(s1)
print(s1.isdisjoint(s2))
#But now they are since we got rid of 2 from s1

False
{1}
True