In [1]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(0,5):
    print(i*2)

0
2
4
6
8

In [3]:
for i in range(0,5):
    i = i*2
    print(i)

0
2
4
6
8

In [4]:
for i in range(0,5):
    for j in range(0,5):
        print("First: "+str(i)+", Last: "+str(j))

First: 0, Last: 0
First: 0, Last: 1
First: 0, Last: 2
First: 0, Last: 3
First: 0, Last: 4
First: 1, Last: 0
First: 1, Last: 1
First: 1, Last: 2
First: 1, Last: 3
First: 1, Last: 4
First: 2, Last: 0
First: 2, Last: 1
First: 2, Last: 2
First: 2, Last: 3
First: 2, Last: 4
First: 3, Last: 0
First: 3, Last: 1
First: 3, Last: 2
First: 3, Last: 3
First: 3, Last: 4
First: 4, Last: 0
First: 4, Last: 1
First: 4, Last: 2
First: 4, Last: 3
First: 4, Last: 4

In [5]:
for x in range(5):
    print(x)
    if x==2:
        break

0
1
2

In [6]:
for i in range(0,5):
    for j in range(0,5):
        print("First: "+str(i)+", Last: "+str(j))
        if j ==2:
            break

First: 0, Last: 0
First: 0, Last: 1
First: 0, Last: 2
First: 1, Last: 0
First: 1, Last: 1
First: 1, Last: 2
First: 2, Last: 0
First: 2, Last: 1
First: 2, Last: 2
First: 3, Last: 0
First: 3, Last: 1
First: 3, Last: 2
First: 4, Last: 0
First: 4, Last: 1
First: 4, Last: 2

In [7]:
for x in range(0,5):
    print(x)
    if x>2:
        continue
    print("XX")
    print("XX")
    print("XX")

0
XX
XX
XX
1
XX
XX
XX
2
XX
XX
XX
3
4

In [8]:
for x in range(0,11):
    if x>6:
        break
    if x%2==0:
        print(x)

0
2
4
6

In [9]:
l = [1,5,10,20]
for x in l:
    print(x)

1
5
10
20

In [10]:
l1 = [1,2,3]
l2 = [2,6,10]
for x,y in zip(l1,l2):
    print(x*y)

2
12
30

In [11]:
l = [[1,2,3],[4,5,6],[7,8,9]]
for x in l:
    print(x)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [12]:
for x in l:
    for y in x:
        print(y)

1
2
3
4
5
6
7
8
9

In [13]:
total = 0
l = [1,2,3,4,5]
for x in l:
    total+=x
print(total)

15

In [14]:
total = 0
for x in range(10):
    if x%2==1:
        continue
    print(x)
    total+=x
print("The total is: "+str(total))

0
2
4
6
8
The total is: 20

In [15]:
i = 0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [16]:
i = 1
while i%6 != 0:
    i+=1
print(i)

6

In [17]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]

In [19]:
print(list(range(0,10,3)))

[0, 3, 6, 9]