<h3>Welcome to FinanceAndPython.com, please refer to the website for the full tutorial. Presented here is the source code.<h3>

In [1]:
#Loops let you iterate through something
#In the case of range we go from a to b, but not including b, so in the below case 0, 1, 2, 3 and 4
#We assign these values to i and execute any code that is indented
for i in range(0,5):
    print(i)

0
1
2
3
4

In [2]:
#You could also print the number times two for example
for i in range(0,5):
    print(i*2)

0
2
4
6
8

In [3]:
#If you assign a value over the iterator (i in this case) then it will be changed but only for the code under the block
#Notice it gets set to the next number after the indented block is done
for i in range(0,5):
    i = i*2
    print(i)

0
2
4
6
8

In [4]:
#We could also have a loop within a loop
#You'll notice we have 25 things printed because we have 5 in the outter loop and 5 in the inner loop
#Each time we set i equal to a new number, we also go through all 5 loops of j
#So we call the j loop 5 times in total and each time we call the j loop we loop through it 5 times
for i in range(0,5):
    for j in range(0,5):
        print("First: "+str(i)+", Last: "+str(j))

First: 0, Last: 0
First: 0, Last: 1
First: 0, Last: 2
First: 0, Last: 3
First: 0, Last: 4
First: 1, Last: 0
First: 1, Last: 1
First: 1, Last: 2
First: 1, Last: 3
First: 1, Last: 4
First: 2, Last: 0
First: 2, Last: 1
First: 2, Last: 2
First: 2, Last: 3
First: 2, Last: 4
First: 3, Last: 0
First: 3, Last: 1
First: 3, Last: 2
First: 3, Last: 3
First: 3, Last: 4
First: 4, Last: 0
First: 4, Last: 1
First: 4, Last: 2
First: 4, Last: 3
First: 4, Last: 4

In [5]:
#If we call break then we stop a loop
for x in range(5):
    print(x)
    if x==2:
        break

0
1
2

In [6]:
#But break will only break the current loop, not any outter loops
for i in range(0,5):
    for j in range(0,5):
        print("First: "+str(i)+", Last: "+str(j))
        if j ==2:
            break

First: 0, Last: 0
First: 0, Last: 1
First: 0, Last: 2
First: 1, Last: 0
First: 1, Last: 1
First: 1, Last: 2
First: 2, Last: 0
First: 2, Last: 1
First: 2, Last: 2
First: 3, Last: 0
First: 3, Last: 1
First: 3, Last: 2
First: 4, Last: 0
First: 4, Last: 1
First: 4, Last: 2

In [7]:
#Continue forces the loop to go to the top of the loop with the next iterable
#Notice how once x>2 we don't see XX printed out anymore
for x in range(0,5):
    print(x)
    if x>2:
        continue
    print("XX")
    print("XX")
    print("XX")

0
XX
XX
XX
1
XX
XX
XX
2
XX
XX
XX
3
4

In [8]:
#Example: Print ounly numbers greater less than 6, that are also even
for x in range(0,11):
    if x>6:
        break
    if x%2==0:
        print(x)

0
2
4
6

In [9]:
#Instead of a range you can also iterate over a list
l = [1,5,10,20]
for x in l:
    print(x)

1
5
10
20

In [10]:
#Zip let's you iterate through lists together
l1 = [1,2,3]
l2 = [2,6,10]
for x,y in zip(l1,l2):
    print(x*y)

2
12
30

In [11]:
#If you have a nested list you can iterate through the inner lists
l = [[1,2,3],[4,5,6],[7,8,9]]
for x in l:
    print(x)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [12]:
#But if you wanted the inner numbers you would use a second loop to go through your iterable x
for x in l:
    for y in x:
        print(y)

1
2
3
4
5
6
7
8
9

In [13]:
#Example: Summing values of a list
total = 0
l = [1,2,3,4,5]
for x in l:
    total+=x
print(total)

15

In [14]:
#Example: Finding the count of each unique number in a list
l = [1,1,1,2,2,3,4,3,5,7,8,5,8,8,8,8]
unique = set(l)
for x in unique:
    print("Count of "+str(x)+": "+str(l.count(x)))

Count of 1: 3
Count of 2: 2
Count of 3: 2
Count of 4: 1
Count of 5: 2
Count of 7: 1
Count of 8: 5

In [15]:
#Example: Getting the sum of even numbers
total = 0
for x in range(10):
    if x%2==1:
        continue
    print(x)
    total+=x
print("The total is: "+str(total))

0
2
4
6
8
The total is: 20

In [16]:
#A while loop does something until the condition is not true
#So the below code will keep printing i until it is not less than 5
#Be careful, this could run forever if there isn't a way for the condition to one day not be false
i = 0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

In [17]:
#Example: Keep adding one until the value of i is divisible by 8
i = 1
while i%6 != 0:
    i+=1
print(i)

6

In [18]:
#You can also get a list from a range very easily
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
#Adding a third parameter determines a step, in this case 2
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]

In [20]:
#The step here is 3
print(list(range(0,10,3)))

[0, 3, 6, 9]